/* ========================================================================= */
/*                                  IMPORTS                                  */
/* ========================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;600&display=swap");

/* ========================================================================= */
/*                              CUSTOM PROPERTIES                            */
/* ========================================================================= */
:root {
  /* Colors */
  --rich-black-fogra-29: hsl(0, 0%, 0%);
  --rich-black-fogra-39: hsla(0, 0%, 1%, 0.212);
  /*for divs hover color*/
  --raisin-black: hsl(0, 0%, 0%);
  --blue-ryb: hsl(0, 0%, 66%);
  --orange-ryb-hover: hsl(36, 54%, 48%);
  --light-gray: hsl(0, 0%, 80%);
  --light-gray-alpha: hsla(0, 0%, 0%, 0.1);
  --xiketic: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --white-alpha-10: hsla(0, 0%, 0%, 0.1);

  /* Typography */
  --ff-poppins: "Poppins", sans-serif;
  --ff-source-code: "Source Code Pro", monospace;

  --fs-1: 2.8rem;
  --fs-2: 1.8rem;
  --fs-3: 1.5rem;
  --fs-4: 1.3rem;
  --fs-5: 1.1rem;
  --fs-6: 0.9rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Spacing & Shadows */
  --section-padding: 80px;
  --card-padding: 30px;
  --shadow-1: 0 5px 20px 0 hsla(226, 78%, 57%, 0.1);
  --shadow-2: 0 3px 10px 0 hsla(0, 0%, 0%, 0.2);

  /* Transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
}

/* ========================================================================= */
/*                                   RESET                                   */
/* ========================================================================= */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: anywhere;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background-color: var(--rich-black-fogra-29);
  color: var(--light-gray);
}

body {
  background-image: url("../images/bg.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
}

body.active {
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--rich-black-fogra-29);
}

::-webkit-scrollbar-thumb {
  background: var(--raisin-black);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-ryb);
}

/* ========================================================================= */
/*                           REUSED & BASE STYLES                            */
/* ========================================================================= */
a,
button,
ion-icon {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

h2,
h3,
h4 {
  color: rgba(245, 245, 245, 0.85);
}

h2 {
  font-size: var(--fs-1);
}

h3 {
  font-size: var(--fs-2);
}

h4 {
  font-size: var(--fs-4);
  font-weight: 600;
}

h5 {
  font-size: var(--fs-6);
}

strong {
  color: var(--blue-ryb);
  font-weight: var(--fw-500);
}

a {
  color: var(--blue-ryb);
  transition: var(--transition-1);
}

a:hover {
  color: var(--orange-ryb-hover);
}

header > h2 {
  font-size: var(--fs-1);
  padding: 30px 20px 10px 20px;
  text-align: left;
  color: rgb(167, 167, 167);
}

p {
  font-size: 1.1rem;
}

time {
  display: block;
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  color: var(--blue-ryb);
  font-size: 15px;
  padding-bottom: 10px;
}

/* ========================================================================= */
/*                                MAIN LAYOUT                                */
/* ========================================================================= */
main {
  margin-inline: auto;
  padding-inline: 0px;
}

#home-section,
#research-interests-section,
#publications-section,
#cv-section,
#ongoing-projects-section,
#conference-presentations-section,
#blog-section,
#contact-section {
  scroll-margin-top: 50px;
}

/* THICK LINE */

.thick-line {
  height: 4px;
  background-color: #b9b9b9;
  width: 60%;
  margin: 2rem auto;
  border-radius: 7px;
}

/* THIN LINE */

.thin-line {
  height: 4px;
  background-color: #b9b9b9;
  width: 30%;
  margin: 2rem auto;
  border-radius: 7px;
}

/* UNDER LINE */

.under-line {
  height: 4px;
  background-color: #b9b9b9;
  width: 10%;
  margin: auto;
  border-radius: 7px;
}

/* ========================================================================= */
/*                                  NAVBAR                                   */
/* ========================================================================= */
nav {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(7px);
  padding: 10px 0;
  z-index: 5;
  width: 100vw;
  max-width: 100vw;
  max-height: 10vh;
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 30px;
}

nav button {
  color: var(--light-gray);
  font-size: 17px;
  font-weight: var(--fw-500);
  padding: 5px 0;
  position: relative;
}

nav button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue-ryb);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--transition-1);
}

nav button:hover,
nav button:focus {
  color: var(--white);
}

nav button:hover::after,
nav button:focus::after {
  transform: scaleX(1);
}

/* ========================================================================= */
/*                                   HOME                                    */
/* ========================================================================= */

section header h2 {
  text-align: center;
}

section ul li {
  margin: 20px;
  padding: 20px;
}

.home {
  position: relative;
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  overflow: hidden;
  min-height: 95vh;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Fractals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(60%);
  z-index: 0;
}

.home img {
  max-height: 300px;
}

.home > * {
  position: relative;
  z-index: 1;
}

.home p {
  text-align: justify;
}

.home header {
  margin-top: 50px;
}

.home-img-cntnt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.shubhit-image-div img {
  width: auto;
  min-height: 35vh;
  margin: 30px;
  border-radius: 7px;
}

.home-content {
  max-width: 60vw;
}

/* ========================================================================= */
/*                            RESEARCH INTERESTS                             */
/* ========================================================================= */

.research-interests-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
}

.research header h2 {
  /* text-align: center; */
  margin: auto;
}

.img-container {
  position: relative;
  width: 25%;
  min-width: 250px;
  overflow: hidden;
  box-sizing: border-box;
}

/* 🎥 Video transitions */
.img-container video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out,
    filter 1s ease-in-out 0.1s;
}

/* 📝 Text */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out 0.1s;
  max-width: 90%;
  white-space: normal;
}

.overlay-text strong {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.overlay-text p {
  font-size: 0.9rem;
  margin: auto;
}

/* 🚀 Hover */
.img-container:hover video {
  transform: scale(1.7);
  filter: blur(4px);
  opacity: 0.4;
}

.img-container:hover .overlay-text {
  opacity: 1;
}

/* ========================================================================= */
/*                                  PUBLICATIONS*/
/* ========================================================================= */
.publications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section ul > li {
  background-color: var(--rich-black-fogra-39);
  padding: var(--card-padding);
  margin: 0px;
  box-shadow: var(--shadow-2);
  transition: transform var(--transition-1);
  max-width: 60vw;
}

.publications h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.publications p {
  font-size: 1rem;
}
/* ========================================================================= */
/*                            BUTTON STYLES                                  */
/* ========================================================================= */
.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 12px;
  border-radius: 7px;
  font-weight: var(--fw-600);
  transition: var(--transition-1);
  height: 50px;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.button-primary {
  background-color: hsl(0, 0%, 15%);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--orange-ryb-hover);
  color: var(--white);
}

.button-secondary {
  background: transparent;
  color: var(--blue-ryb);
}

.button-secondary:hover {
  background-color: hsla(226, 78%, 57%, 0.1);
  /* Faint blue background on hover */
  color: var(--blue-ryb);
}

/* ========================================================================= */
/*                                      CV                                   */
/* ========================================================================= */

.pdf-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pdf-embed-container {
  .pdf-embed-container {
    position: relative;
    padding-top: 85vh;
    max-width: 60vw;
    margin-inline: auto;
    background-color: var(--rich-black-fogra-39);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--shadow-2);
  }

  .pdf-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 85vh;
  }

  position: relative;
  padding-top: 85vh;
  max-width: 60vw;
  margin-inline: auto;
  background-color: var(--rich-black-fogra-39);
  border-radius: 7px;
  overflow: hidden;
  box-shadow: var(--shadow-2);
}

.pdf-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 85vh;
}

.cv header h2 {
  margin: auto;
}

/* ========================================================================= */
/*                               Ongoing Projects                            */
/* ========================================================================= */

.ongoing-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ongoing-projects h4,
.ongoing-projects time {
  text-align: center;
}

.ongoing-projects p {
  text-align: justify;
}

.ongoing-projects ul {
  padding: 0px;
}

.ongoing-projects li {
  padding: 10px;
}

/* ========================================================================= */
/*                                    CONFEENCE                              */
/* ========================================================================= */

.conference-presentations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conference-presentations h4,
.conference-presentations time {
  text-align: left;
}

.conference-presentations p {
  text-align: justify;
}

.conference-presentations ul {
  padding: 0px;
}

.conference-presentations li {
  padding: 10px;
}

/* ========================================================================= */
/*                                      BLOG                                 */
/* ========================================================================= */

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog h4,
.blog time,
.blog h5 {
  text-align: center;
}

.blog div {
  max-width: 60vw;
  /* padding: 0px 30px 10px 30px; */
  margin: 0px auto;
}

.blog-abstract {
  padding: 10px;
}

.blog ul {
  padding: 0px;
}

.blog li {
  padding: 10px;
}

.blog-abstract {
  text-align: justify;
}

/* RESEARCHES I FOUND INTERESTING */

.interesting-research-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  text-align: center;
  box-sizing: border-box;
}

.interesting-research-image img {
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 7px;
  max-height: 40vh;
  margin: 10px;
}

.interesting-research-text {
  text-align: justify;
}

.interesting-research-image-caption {
  text-align: center;
  font-size: 1rem;
}

/* VISITS */

.slideshow-container {
  position: relative;
  height: 40vh;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container .slide {
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
  border-radius: 7px;
}

/* ========================================================================= */
/*                                  CONTACT                                  */
/* ========================================================================= */
.contact {
  margin-bottom: 50px;
}

.contact-div-1 {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}

.contact header h2 {
  margin: auto;
}

.map-box,
.google-form {
  flex-direction: row;
  max-width: 30vw;
  font-size: 1.1rem;
}

.contact-details a {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--orange-ryb-hover);
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
  color: var(--orange-ryb-hover);
}

.contact-details a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.contact-details p {
  text-align: left;
}

iframe {
  .research header h2 {
    margin: auto;
  }
  width: 40vw;
  border-radius: 7px;
}

.map-box iframe {
  filter: invert(1) hue-rotate(180deg);
}

.address p {
  max-width: 50vw;
  text-align: justify;
}

.contact-details {
  flex: 1 1 300px;
  max-width: 500px;
}

.map-box {
  flex: 1 1 300px;
  max-width: 600px;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: none;
}

/* ========================================================================= */
/*                                 RESPONSIVE                                */
/* ========================================================================= */

@media (max-width: 1280px) {
  section h2 {
    font-size: 2rem;
  }

  .research-interests-section {
    justify-content: center;
  }

  section h3 {
    font-size: 1.5rem;
  }

  .ongoing-projects p {
    font-size: 1rem;
  }

  .conference-presentations p {
    font-size: 1rem;
  }

  .blog p {
    font-size: 1rem;
  }

  .contact p,
  .contact a {
    font-size: 1rem;
  }

  .shubhit-image-div img {
    max-width: 80vw;
    min-height: auto;
    margin-bottom: 20px;
  }

  .home-img-cntnt {
    flex-direction: column;
    justify-content: center;
    max-width: 85vw;
  }

  nav {
    padding: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 5;
    width: 100vw;
    max-width: 100vw;
    max-height: 25vh;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 15px;
  }

  .home {
    margin: 0px;
    padding: 0px 20px;
  }

  .home-content {
    max-width: 90vw;
  }

  section ul > li,
  h4,
  h3,
  h2 {
    max-width: 90vw;
  }

  .blog > div {
    max-width: 90vw;
  }
  .interesting-research-image img {
    max-width: 80%;
  }
  .contact-details {
    text-align: left;
    max-width: 90vw;
  }

  .contact-details p {
    text-align: left;
  }

  .address {
    max-width: 80vw;
  }

  .contact-details a {
    text-align: left;
  }

  .contact-div-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    width: 90vw;
    text-align: center;
  }

  .contact-details {
    max-width: 90vw;
  }

  .map-box {
    max-width: 90vw;
    margin: 0 auto;
    width: 100%;
  }

  .map-box iframe {
    width: 100%;
    height: 450px;
    width: 100%;
    aspect-ratio: 4 / 3;
  }
}

@media (max-width: 800px) {
  .pdf-embed-container {
    position: relative;
    padding-top: 85vh;
    max-width: 90vw;
    margin-inline: auto;
    background-color: var(--rich-black-fogra-39);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--shadow-2);
  }

  .pdf-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 85vh;
  }

  #home-section,
  #research-interests-section,
  #publications-section,
  #cv-section,
  #ongoing-projects-section,
  #conference-presentations-section,
  #blog-section,
  #contact-section {
    scroll-margin-top: 90px;
  }
  .interesting-research-image {
    max-width: 90vw;
  }
  .interesting-research-image img {
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .slideshow-container .slide {
    position: absolute;
    height: 100%;
    width: auto;
    object-fit: contain;
    transition: opacity 1s ease-in-out;
    border-radius: 7px;
  }
}
